*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(180, 228, 228);
}
.wrapper{
    width: 65vmin;
    height: 70vmin;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #293447;
}
.game-details{
    color: #B8C6DC;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30 , 1fr) / repeat(30 , 1fr);
    background-color: #212837;

}
.play-board .food{
    background-color: red;
}
.play-board .snake{
    background-color: rgb(38, 156, 57);
}
